/ Bourbonslim v1.0.2 - 
    by pixelminds 2017 - 
    GNU General Public License v3 - 
    https://github.com/pixelminds/bourbonslim 
    
footer.footer role="contentinfo" 
  .footer-logo
    img alt=("Logo image") src="img/logo.png" /
  .footer-links
    ul
      li
        h3 Where We Are
      li
        a href="javascript:void(0)"  MyCompany LLC
      li
        a href="javascript:void(0)"  96 Pixelmind Street
      li
        a href="javascript:void(0)"  Baltimore, MD
    ul
      li
        h3 Contact
      li
        a href="javascript:void(0)"  Phone: +1 222 222 2222
      li
        a href="javascript:void(0)"  Email: info@pixelminds.net
    ul
      li
        h3 Contents
      li
        a href="products.html"  Products
      li
        a href="pricing.html"  Pricing
    ul
      li
        h3 About
      li
        a href="privacy.html"  Privacy Policy
      li
        a href="terms.html"  Terms and Conditions
  p.social
    /! Facebook icon
    a href="https://www.facebook.com/pixelminds-190112981078674/" target="_blank" 
      i.fa.fa-facebook
    /! Google+ icon
    /!
      | a(href='http://plus.google.com', target='_blank')i.fa.fa-google-plus
    /! Twitter icon
    a href="https://twitter.com/pxmind" target="_blank" 
      i.fa.fa-twitter
    /! Linkedin icon
    a href="https://www.linkedin.com/in/llucsumoy" target="_blank" 
      i.fa.fa-linkedin
javascript:
  $('.parallax-window').parallax({imageSrc:'http://lorempixel.com/900/300/nature'});
script src="js/navigation.js" 
script src="js/jquery.sticky.js" 
  /! Google Analytics: change UA-XXXXX-X to be your site's ID.
javascript:
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
javascript:
    $(document).ready(function(){
    $("#sticker").sticky({topSpacing:0});
    });
</body></html>